body {
    margin: 0;
    padding: 0;
    font-family:Arial;

    background-color: #444;
}

#RecentBlogEntries {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#RecentBlogEntries h3{
    text-align: center;
}

#NotableProjects {
    width: 100%;
    overflow: hidden;
}

#NotableProjects h3 {
    text-align: center;
}

#Projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    display:flex;
}

.ProjectCard {
    width: 25vw;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px;
    display: flex;
}

.InnerProjectCard {
    width: 100%;
}

#Header {
    background-color: #000;
/*   position: fixed; */
    top: 0;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    width: 100%;
    text-align: center;
    color: white;
}

/* Card styling */
.CardHeader {
    margin:0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: #777;
    text-align: center;
}

/* Navbar */

#Navbar {
    left: auto;
    right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

#Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;

    /*
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    */

}

#Navbar li {
    float: left;
}

#Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#Navbar li a:hover {
    background-color: #111;
}

/* Card */

#ProjectCards {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 720px) {
    #ProjectCards {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        display: flex;
        justify-content: space-between;
    }
}

.Card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s; 
    
    background-color: #666;

    width: 30%;
    float: left;
    /*height: 300px;*/
}

.Card h4 {
    background-color: #777;
    width: 100%;
    padding: 4px 0px 4px 0px;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.Card img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
}


/* On mouse-over, add a deeper shadow */
.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

/* Add some padding inside the card container */
.CardContainer {
    padding: 0px 18px 0px 18px;
}

/*
 *  HEADER
 */

#AboutMeHeader {
    height: 200px;
    background-color: #777;
    padding: 10px;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
}

#AboutMeCenter {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 720px) {
    #AboutMeCenter {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

#AboutMe {
    padding-top: 0;
    margin-top: 0;
    float: left;
    width: 100%;
    height: 100%; 
}

#Me {
    float: left;
    height: 100%;
    padding-right: 10px;
}


#AboutMeContent {
    float: left;
    width: 80%;
}

#AboutMeContent p {
    padding: 0;
    margin: 0;
    width: 80%;
}

#AboutMeContent h2 {
    padding: 0;
    margin: 0;
}
