body {
    margin: 0;
    padding: 0;
    font-family:Arial;

    background-color: #444;
    font-family: Open Sans; 
}

#Header h1 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; } 

h3 { 
    color: #ffffff; font-size: 1.5em; font-family: 'Lato', sans-serif; font-weight: 320; 
    border-bottom: 1px solid #ffffff;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#RecentBlogEntries {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#RecentBlogEntries h3{
    text-align: center;
}

#Projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    display:flex;
}

.ProjectCard {
    width: 25vw;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px;
    display: flex;
}

.InnerProjectCard {
    width: 100%;
}

#Header {
    background-color: #333;
/*   position: fixed; */
    top: 0;
    padding-top: 8px;
    padding-bottom: 4px;
    width: 100%;
    text-align: center;
    color: white;
}

#Header h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
}

/* Navbar */
#NavbarContainer {
    width: 100%;
    background-color: #333;
}

#Navbar {
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0);

    /*
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    */

}

#Navbar li {
    float: left;
}

#Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#Navbar li a:hover {
    background-color: #111;
}

/* Card */

/* Card styling */
.CardHeader {
    margin:0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: #777;
    text-align: center;
}

#ProjectCards {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 720px) {
    #ProjectCards {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        display: flex;
        justify-content: space-between;
    }
}

.Card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s; 
    
    background-color: #666;

    width: 30%;
    float: left;
    /*height: 300px;*/
}

.Card h4 {
    background-color: #777;
    width: 100%;
    padding: 4px 0px 4px 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
    font-family: 'Lato', sans-serif; 
}

.Card img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4);
}

.Card:hover img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    box-shadow: 0 4px 26px 0 rgba(0,0,0,0.6);
} 

/* On mouse-over, add a deeper shadow */
.Card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.6);
}

/* Add some padding inside the card container */
.CardContainer {
    padding: 0px 18px 0px 18px;
}

/*
 *  HEADER
 */

#AboutMeHeaderContainer {
    z-index: -1;
    width: 100%;
    min-height: 200px; 

    display:block;
    overflow: auto;

    padding: 10px;
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #666;
    box-shadow: 0 0px 64px 0 rgba(0,0,0,0.4);
    margin-bottom: 0;
}

#AboutMeHeader {
    width: 70%; 
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #666;
    margin-bottom: 0;
}

#Me {
    width: 30%;
    float: left;
}

#Me img {
    width: 100%; 
    height: auto;

    max-width: 200px;
    opacity: 0.8;
    margin-right: 10px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4);

    float: right;
} 

#AboutMeContent {
    width: 70%;
    float: left; 
}

#AboutMeContent h2 {
    padding: 0; margin: 0;
    margin-top: -8px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 320;
    border-bottom: 1px solid #ffffff;
}

#AboutMeContent p { color: #ddd; padding: 0; margin: 0; }
#AboutMeContent p a {
    text-decoration: none;
    color: #111;
    border-bottom: 1px solid #111;
}

@media only screen and (max-width: 720px) {
    #AboutMeHeader {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #666;
    }

    #AboutMeHeaderContainer {
        width: 100%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    } 

    #Me {
        width: 30%;
        float: left;
    }

    #Me img {
        width: 100%;
        height: auto;
        opacity: 0.8;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4);
    } 

    #AboutMeContent {
        width: 70%;
        height: 100%;
    } 
}

