body {
    margin: 0;
    padding: 0;
    font-family:Arial;
}

#RecentBlogEntries {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#RecentBlogEntries h3{
    text-align: center;
}

#NotableProjects {
    width: 100%;
    overflow: hidden;
}

#NotableProjects h3 {
    text-align: center;
}

#Projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    display:flex;
}

.ProjectCard {
    width: 25vw;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px;
    display: flex;
}

.InnerProjectCard {
    width: 100%;
}

#Header {
    background-color: #000;
/*   position: fixed; */
    top: 0;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    width: 100%;
    text-align: center;
    color: white;
}

/* Card styling */
.CardHeader {
    margin:0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: #777;
    text-align: center;
}


/*
#PostPageContents h2 { text-align: center; }
#PostPageContents h3 { text-align: center; }
#PostPageContents h4 { text-align: center; }
#PostPageContents h5 { text-align: center; }
#PostPageContents h6 { text-align: center; }
*/
